

<!-- <ul class="align-self-start btn-group-vertical ">
    <li class="btn my-1 ml-2 m-3 ">
        <a class="btn btn-outline-light" href="#">About</a>
    </li>
    <li class="nav-item ml-2 m-3">
        <a class="btn btn-outline-light" href="definitions/{{object.id}}/update">Update</a>
    </li>
    <li class="nav-item ml-2 m-3">
        <a class=" btn btn-outline-light" href="./create">Add Info</a>
    </li>
    <li class="nav-item ml-2 m-3">
        <a class=" btn btn-outline-light" href="/definitions">Home</a>
    </li>
</ul>  -->
