{% extends 'base.html' %}

{% block content %}
   
    <!-- <form action='.' method='POST'>{% csrf_token %}
        {{form.as_table}}
        <input type= 'submit' value='New Info' />
    </form> -->
<div class="d-flex justify-content-center">
    <form class="card border-secondary d-flex shadow-lg p-3 mb-5 bg-white rounded " style="width: 30rem" action='.' method='POST'>{% csrf_token %}
           {{form.as_table}}
           <br>
    <input class="btn btn-outline-secondary" type="submit" value="Update" />
  </form>
</div> 
    
{% endblock %}