<!-- this calls the file into base -->
<!-- this one is to include into the base not inherit -->
<!-- <nav>
    <ul>
        <li>about</li>
        <li>info</li>
        <li>all info</li>
    </ul>
</nav> -->

<nav class="nav bg-dark row justify-content-between">
    <ul class="nav  col-5">
        <li class="nav-item my-1 ml-4 my-2">
            <a class="btn btn-outline-light" href="#">About</a>
        </li>
      
        <li class="nav-item ml-2 my-2">
            <a class=" btn btn-outline-light" href="./create">Add Info</a>
        </li>
        <li class="nav-item ml-2 my-2">
            <a class=" btn btn-outline-light" href="/definitions">Home</a>
        </li> 
         <!-- <li class="nav-item ml-2 my-2">
            <a class="btn btn-outline-light" href="./update">Update</a>
        </li> -->
    </ul>  
    <form class="form-inline mr-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
  